---
import { prod } from 'astro-pure/server'
import type { SiteMeta } from 'astro-pure/types'
import config from '@/site-config'

import aisummaryCss from '../assets/styles/aisummary.css?url'
import shuoshuoCss from '../assets/styles/shuoshuo.css?url'
import aisummaryConfig from '../plugins/aisummary.config.js?url'
import aisummary from '../plugins/aisummary.js?url'

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const siteTitle = `${title} ${config.titleDelimiter} ${config.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : '/images/social-card.png', Astro.url).href
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />

{/* Font via CDN */}
<link
  rel='stylesheet'
  href='https://ik.imagekit.io/ljx/LXGWBright-Medium/result.css?updatedAt=1760351683473'
  media='print'
  onload="this.setAttribute('media', 'all')"
/>
<noscript>
  <link
    rel='stylesheet'
    href='https://ik.imagekit.io/ljx/LXGWBright-Medium/result.css?updatedAt=1760351683473'
  />
</noscript>
<link
  rel='stylesheet'
  href='https://ik.imagekit.io/ljx/LXGWBright-MediumItalic/result.css?updatedAt=1760351714330'
  media='print'
  onload="this.setAttribute('media', 'all')"
/>
<noscript>
  <link
    rel='stylesheet'
    href='https://ik.imagekit.io/ljx/LXGWBright-MediumItalic/result.css?updatedAt=1760351714330'
  />
</noscript>
<link
  rel='stylesheet'
  href='https://ik.imagekit.io/ljx/LXGWmikhailcai/result.css?updatedAt=1762168258143'
  media='print'
  onload="this.setAttribute('media', 'all')"
/>
<noscript>
  <link
    rel='stylesheet'
    href='https://ik.imagekit.io/ljx/LXGWmikhailcai/result.css?updatedAt=1762168258143'
  />
</noscript>

{/* Preconnect */}
<link rel='preconnect' href='https://ik.imagekit.io' />
<link rel='preconnect' href='https://cn.vercount.one' />

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={config.author} name='author' />

{/* Theme Color */}
<meta content='' name='theme-color' />

{/* Open Graph / Facebook */}
<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={config.title} property='og:site_name' />
<meta content={config.locale.attrs} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
{
  articleDate && (
    <>
      <meta content={config.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
    </>
  )
}

{/* Twitter */}
<meta content='summary_large_image' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link
  rel='alternate'
  type='application/rss+xml'
  title={config.title}
  href={`${Astro.site}rss.xml`}
/>

<meta content={Astro.generator} name='generator' />

{/* Styles */}
<link rel='stylesheet' href='/styles/global.css' />

{
  /* User script*/
  prod && (
    <script>
      console.log( '%c Astro Theme Pure %c https://github.com/cworld1/astro-theme-pure/',
      'color:#fff;background:linear-gradient(90deg,#448bff,#44e9ff);padding:5px 0;',
      'color:#000;background:linear-gradient(90deg,#44e9ff,#ffffff);padding:5px 10px 5px 0px;' )
    </script>
  )
}

{/* AISummary 工具 */}
<script src={aisummaryConfig} defer is:inline></script>
{
  Astro.url.pathname.startsWith('/blog/') && !/^\/blog\/\d+\/?$/.test(Astro.url.pathname) && (
    <script src={aisummary} defer is:inline />
  )
}
{/* AISummary 样式 */}
<link rel='stylesheet' href={aisummaryCss} />

{/* 说说样式 */}
<link rel='stylesheet' href={shuoshuoCss} />

{/* APlayer 样式 */}
<link rel='stylesheet' href={`${config.npmCDN}/aplayer@1.10.1/dist/APlayer.min.css`} media='all' />
<script src={`${config.npmCDN}/aplayer@1.10.1/dist/APlayer.min.js`} defer is:inline></script>
<script src={`${config.npmCDN}/meting@2.0.10/dist/Meting.min.js`} defer is:inline></script>

{/* 统计分析 */}
<script defer src='https://analytics.ljx.icu/tracker.min.js' data-website-id='ljxblog' is:inline
></script>

{/* Netease Mini Player */}

{/* Page Preload */}
<script src={`${config.npmCDN}/instant.page@5.2.0/instantpage.js`} type='module' is:inline></script>
